.scrollbar-hidden::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
.scrollbar-hidden::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.scrollbar-hidden::-webkit-scrollbar-thumb {
  background: #EC6707;
  border-radius: 16px;
}
